<div class="bg-white">
  <div class="container box">
    <table>
      <thead>
        <tr>
          <th colspan="2">
            Weekly Hours
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monday</td>
          <td>12pm - 8pm</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>12pm - 8pm</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>12pm - 8pm</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>12pm - 8pm</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>12pm - 8pm</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>12pm - 8pm</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>12pm - 8pm</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>