.email-form {
    padding: 150px 0px;;
    max-width: 590px;
    
    .desc {
        text-align: center;
        font-size: 34px;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.btn-success {
    margin-top: 15px;
}