<div class="email-form container">
    <form (ngSubmit)="registerEmail()" #emailForm="ngForm">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" required [(ngModel)]="email" #name="ngModel" email>
            <div *ngIf="showInvalidEmail" class="alert alert-danger"> 
                Please enter a valid email address
            </div>
            <div *ngIf="showNoSuccess" class="alert alert-danger"> 
                Something went wrong. Please try again.
            </div>
            <div *ngIf="showSuccess" class="alert alert-success"> 
                Thanks for registering your email: {{registeredEmail}}
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>