@import '../../variables.less';

.bg-white {
    background-color: white;
    width: 100%;
    
    .box {
        color: @primary-text;
        padding: 40px 20px 75px 20px;
        width: 90%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
        .space {
            height: 60px;
        }
    
    }
}