<div class="image-box">
  <img class="center-image" src="../../../assets/images/revolt-logo.jpg" alt="Revolt Brewing Co">
</div>
<p>
    Lorem ipsum dolor amet seitan echo park vinyl mlkshk fam hoodie gentrify hashtag af vape iceland. Enamel pin ethical gentrify meditation venmo four dollar toast freegan VHS, woke chia succulents hoodie hashtag vice. Keytar flannel VHS cred aesthetic salvia lomo keffiyeh. Raclette viral glossier, pour-over lyft cloud bread brooklyn butcher mlkshk enamel pin iceland cronut. Heirloom tumblr fashion axe jean shorts, hoodie typewriter +1 selvage lo-fi actually iPhone gluten-free wayfarers.
</p>
