<div class="container">
  <div class="media-title">
    <a href="https://www.instagram.com/revoltbrewingco"> 
      <span>
          <i class="fa fa-instagram"></i>
          &nbsp;/&nbsp;revoltbrewingco
      </span> 
    </a>
  </div>

  <div class="media-title">
    <a href="https://www.yelp.com/biz/revolt-brewing-co-montclair-3"> 
      <span>
          <i class="fa fa-yelp"></i>
          &nbsp;/&nbsp;revolt
      </span> 
    </a>
  </div>
  <div class="media-title">
    <a href="https://www.facebook.com/revoltbrewingco"> 
      <span>
          <i class="fa fa-facebook-square"></i>
          &nbsp;/&nbsp;revoltbrewingco
      </span> 
    </a>
  </div>
  <div class="fb-container">
    <div class="fb-page" 
          data-width="500"
          data-href="https://www.facebook.com/revoltbrewingco" 
          data-tabs="timeline" 
          data-small-header="false" 
          data-adapt-container-width="true" 
          data-hide-cover="false" 
          data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/revoltbrewingco" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/revoltbrewingco">Revolt Brewing Co</a>
      </blockquote>
    </div>
  </div>
</div>