<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="image">
        <div class="border-box retro-shadow">REVOLT<br/>BREWING CO</div>
    </div>
    
    <a name="info"></a>
    <div class="bg-white">
        <app-info></app-info>
    </div>
    
    <a name="beers"></a>
    <div class="image">
        <div class="border-box retro-shadow">BEERS</div>
    </div>
    <div class="bg-white">
        <app-beers></app-beers>
    </div>

    <a name="location"></a>
    <div class="image">
        <div class="border-box retro-shadow">LOCATION</div>
    </div>
    <div class="bg-white">
        <app-location></app-location>
    </div>

    <a name="feeds"></a>
    <div class="image">
        <div class="border-box retro-shadow">FOLLOW US</div>
    </div>
    <div class="bg-white">
        <app-feeds></app-feeds>
    </div>
    
    <a name="contact"></a>
    <div class="image">
        <div class="border-box retro-shadow">CONTACT US</div>
    </div>
    <div class="bg-white">
        <app-contact></app-contact>
    </div>
</div>

<app-footer></app-footer>